body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("helicopterView.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }
  
  .header-img {
    width: 80px; /* Adjust the size as needed */
   height: auto;
  }
  
  header h1 {
    font-size: 1.0rem;
    margin: 0;
  }
  
  header p {
    font-size: 1.2rem;
    margin: 5px 0 0;
  }
  
  .content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    width: 90%;
    max-width: 200px;
    border-radius: 10px;
    color: #333;
  }
  .content {
    padding: 20px;
    background-image: url(""); /* Replace 'modal-bg.png' with your background image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* margin: 20px auto; */
    width: 90%;
    max-width: 200px;
    border-radius: 10px;
    color: #333;
}

  .content h2 {
    font-size: 2rem;
    color: #00e608;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .buttons button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #009de6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #FF5722;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
   